@tailwind base;
@tailwind components;

body {
  @apply bg-black text-gray-200;
}

p,
li {
  @apply text-gray-300;
}

.card-block {
  @apply rounded-md border border-[#343534] bg-[#1F1F1F] bg-gradient-to-br from-[#1F1F1F] to-[#161616];
}

.truncate-paragraph {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 10px;
}


::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 10px;
  border: 1 solid #343534;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #343534;
}

@tailwind utilities;